baseURL: https://basselch.com
title: Bassel Cheaib
paginate: 12

enableInlineShortcodes: true
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

permalinks:
    blog: /a/:slug/
    page: /:slug/
    booka: /b/:slug/

# googleAnalytics: UA-123-45

minify:
    disableXML: true
    # minifyOutput: true

languages:
    en:
        contentDir: content/en
        weight: 1
        menu:
            main:
                - name: About
                  url: about
                  weight: 1
                - name: Now
                  url: now
                  weight: 2
                - name: Blog
                  url: blog
                  weight: 3
                - name: Books
                  url: books
                  weight: 4
                - name: Archive
                  url: archives
                  weight: 5
                - name: Search
                  url: search/
                  weight: 10

    ar:
        contentDir: content/ar
        languagedirection: rtl
        weight: 2
        title: باسل شعيب
        homeInfoParams:
          Title: "مرحبًا بكم في حديقتي الرقمية"
          Content: >
              هنا ستجدون جميع المحتوى العربي من مقالات وكتب وغيرها.

              - أتمنى أن تستفيدوا منها، وإن كان لديكم أي تعليق أو إستفسار لا تترددوا في التواصل معي!
        menu:
            main:
              - name: المقالات
                url: blog
                weight: 3
              - name: الكتب
                url: books
                weight: 4
              - name: الأرشيف
                url: archives
                weight: 5
              - name: البحت
                url: search/
                weight: 10

outputs:
    home:
        - HTML
        - RSS
        - JSON

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    description: "I'm a computer scientist who enjoys learning new stuff and sharing knowlegde with others. Currently in permanent beta: learning, improving, evolving..."
    author: Bassel Cheaib
    defaultTheme: dark
    # disableThemeToggle: true
    ShowShareButtons: true
    ShowReadingTime: false
    # disableSpecial1stPost: true
    displayFullLangName: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    ShowToc: true
    comments: true
    utterances:
        repo: bassel/PWComments
        issueTerm: url
        label: PW
    images: ["cover.png"]

    mainSections: ['blog', 'books']

    profileMode:
        enabled: false
        title: Welcome to my digital garden
        subtitle: > 
            Here, you'll find all the digital content I create (articles, book notes, random thoughts, etc).
            I hope you find some of the stuff here interesting and useful.
            In case you have any thoughts or comments, please don't hesitate to get in touch with me!
        # imageUrl: "#"
        # imageTitle: my image
        # imageWidth: 120
        # imageHeight: 120
        buttons:
            - name: Archives
              url: archives
            - name: Tags
              url: tags

    homeInfoParams:
        Title: "Welcome to my digital garden"
        Content: >
            Here, you'll find all the digital content I create (articles, book notes, random thoughts, etc).

            - I hope you find some of the stuff here interesting and useful.

            - In case you have any thoughts or comments, please don't hesitate to get in touch with me!

    socialIcons:
        - name: github
          url: "https://go.basselch.com/gh"
        - name: twitter
          url: "https://go.basselch.com/tw"
        - name: telegram
          url: "https://go.basselch.com/tm"
        - name: email
          url: "https://go.basselch.com/email"
        - name: buymeacoffee
          url: "https://go.basselch.com/bmc"
        - name: Rss
          url: "index.xml"

    # label:
    #     text: "Home"
    #     icon: icon.png
    #     iconHeight: 35

    # analytics:
    #     google:
    #         SiteVerificationTag: "XYZabc"

    assets:
        disableHLJS: true
    #     favicon: "<link / abs url>"
    #     favicon16x16: "<link / abs url>"
    #     favicon32x32: "<link / abs url>"
    #     apple_touch_icon: "<link / abs url>"
    #     safari_pinned_tab: "<link / abs url>"

    # cover:
    #     hidden: true # hide everywhere but not in structured data
    #     hiddenInList: true # hide on list pages and home
    #     hiddenInSingle: true # hide on single page

    # fuseOpts:
    #     isCaseSensitive: false
    #     shouldSort: true
    #     location: 0
    #     distance: 1000
    #     threshold: 0.4
    #     minMatchCharLength: 0
    #     keys: ["title", "permalink", "summary", "content"]

taxonomies:
    category: categories
    tag: tags
    series: series

# markup:
#     highlight:
#         # anchorLineNos: true
#         codeFences: true
#         guessSyntax: true
#         lineNos: true
#         # noClasses: false
#         style: monokai

privacy:
    vimeo:
        disabled: false
        simple: true

    twitter:
        disabled: false
        enableDNT: true
        simple: true

    instagram:
        disabled: false
        simple: true

    youtube:
        disabled: false
        privacyEnhanced: true

services:
    instagram:
        disableInlineCSS: true
    twitter:
        disableInlineCSS: true
