.buttons,
.main .not-found {
    display: flex;
    justify-content: center
}

.main .not-found {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    height: 80%;
    text-align: center
}

.not-found .not-found_inner h1 {
    padding: 12px 0
}

.buttons {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 8px;
    padding: 6px;
    transition: transform .1s
}

.button-inner {
    padding: 0 8px
}

.button:active {
    transform: scale(.96)
}
