.highlighted-div {
    margin: 1rem 0; 
    padding: 1rem; 
    background: var(--code-bg); 
    font-size: 1rem; 
    font-weight: 400; 
    border-radius: 0.3rem; 
    border-inline-start: 3px solid #5183f5;
}