.utterances {
  max-width: unset;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  @apply inline-flex mx-2 text-gray-400 dark:text-gray-600 opacity-90 font-normal;
}

#theme-toggle svg {
  height: 18px;
}

button#theme-toggle  {
  font-size: 26px;
  margin: auto 4px
}

html.dark #moon {
  vertical-align: middle;
  display: none
}

html:not(.dark) #sun {
  display: none
}

#top-link {
  transition: visibility .5s ease-in-out, opacity .8s ease-in-out;
}

.highlighted-div {
  border-inline-start-width: 3px;
}

::-webkit-scrollbar-track {
	background: 0 0;
  @apply rounded-lg
}
::-webkit-scrollbar-thumb {
  border: 5px solid;
  @apply bg-gray-300 dark:bg-gray-600 hover:bg-gray-600 dark:hover:bg-gray-300 rounded-lg border-gray-50 dark:border-gray-900
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 18px;
    height: 11px;
  }
}

.toc a:hover {
  box-shadow: 0 1px 0
}
.toc li ul {
  margin-inline-start: 16px;
  list-style-type: circle;
}
.toc ul {
  list-style-type: disc;
}