/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[dir=rtl] body {
  font-family: 'Tajawal', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Roboto', Roboto, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

[dir=rtl] h1 {
  line-height: 1.4;
}

.utterances {
  max-width: unset;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  @apply inline-flex mx-2 text-gray-400 dark:text-gray-600 opacity-90 font-normal absolute;
}

#top-link {
  transition: visibility .5s ease-in-out, opacity .8s ease-in-out;
}

::-webkit-scrollbar-track {
	background: 0 0;
  @apply rounded-lg
}
::-webkit-scrollbar-thumb {
  border: 5px solid;
  @apply bg-blueGray-300 dark:bg-gray-600 hover:bg-gray-600 dark:hover:bg-gray-300 rounded-lg border-white dark:border-gray-950
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 18px;
    height: 11px;
  }
}

.toc a:hover {
  box-shadow: 0 1px 0
}
.toc li ul {
  margin-inline-start: 16px;
  list-style-type: circle;
}
.toc ul {
  list-style-type: disc;
}

.pagenav .prev {
  border-start-start-radius: 8px;
  border-end-start-radius: 8px;
  
}
.pagenav .next {
  border-start-end-radius: 8px;
  border-end-end-radius: 8px;
  margin-inline-start: auto;
  text-align: end;
}

.share-buttons a:not(:last-of-type) {
  margin-inline-end: 12px
}
.share-buttons a svg {
  height: 30px;
  width: 30px;
  fill: currentColor;
  transition: transform .1s
}
.share-buttons svg:active {
  transform: scale(.96)
}

.social-icons a svg {
  @apply h-7 w-7;
}
.social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}

#home-info .style-link a {
  @apply font-bold text-blue-600 dark:text-blue-400 no-underline hover:underline;
}
#home-info h2 {
  @apply text-2xl lg:text-3xl font-bold border-b-2 border-opacity-40 dark:border-opacity-40 pb-3 mb-3 lg:mb-4 mt-10 border-blueGray-700 dark:border-gray-200;
}
#home-info p {
  @apply max-w-3xl my-2 text-base lg:text-lg;
}

p code {
  @apply bg-gray-200 dark:bg-gray-700 mx-1 p-1 rounded-md md:whitespace-nowrap;
}
/* purgecss end ignore */