.utterances {
  max-width: unset;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  @apply inline-flex mx-2 text-gray-400 dark:text-gray-600 opacity-90 font-normal;
}

#theme-toggle svg {
  height: 18px;
}

button#theme-toggle  {
  font-size: 26px;
  margin: auto 4px
}

html.dark #moon {
  vertical-align: middle;
  display: none
}

html:not(.dark) #sun {
  display: none
}

[dir=ltr] .floating-nav, [dir=auto] .floating-nav {
  @apply right-6;
}
[dir=rtl] .floating-nav {
  @apply left-6;
}

#top-link {
  transition: visibility .5s ease-in-out, opacity .8s ease-in-out;
}

.highlighted-div {
  border-inline-start-width: 3px;
}

::-webkit-scrollbar-track {
	background: 0 0;
  @apply rounded-lg
}
::-webkit-scrollbar-thumb {
  border: 5px solid;
  @apply bg-gray-300 dark:bg-gray-600 hover:bg-gray-600 dark:hover:bg-gray-300 rounded-lg border-white dark:border-gray-900
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 18px;
    height: 11px;
  }
}

.toc a:hover {
  box-shadow: 0 1px 0
}
.toc li ul {
  margin-inline-start: 16px;
  list-style-type: circle;
}
.toc ul {
  list-style-type: disc;
}

.pagenav .prev {
  border-start-start-radius: 8px;
  border-end-start-radius: 8px;
  
}
.pagenav .next {
  border-start-end-radius: 8px;
  border-end-end-radius: 8px;
  margin-inline-start: auto;
  text-align: end;
}

.share-buttons a:not(:last-of-type) {
  margin-inline-end: 12px
}
.share-buttons a svg {
  height: 30px;
  width: 30px;
  fill: currentColor;
  transition: transform .1s
}
.share-buttons svg:active {
  transform: scale(.96)
}