<div class="mx-3 text-2xl font-normal text-gray-800 dark:text-gray-300 flex flex-shrink-0">
    {{- if .Title }}
        <a href='{{ "" | absLangURL }}' class="font-bold" accesskey="h" title="{{ .Site.Title }} (Alt + H)">{{- .Site.Title -}}</a>
    {{- end }}

    <button class="mx-2 flex items-center" id="theme-toggle" onclick="toggleTheme()" accesskey="t" title="(Alt + T)">
        <svg class="inline dark:hidden h-6 w-6" id="moon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
        </svg>
        <svg class="hidden dark:inline h-6 w-6" id="sun" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
        </svg>
    </button>

    {{ $lang := .Lang}}

    {{- with $.Site.Home.AllTranslations }}
        <ul class="inline-flex font-bold text-base self-center ltr:border-l-2 rtl:border-r-2 border-gray-300 dark:border-gray-600">
            {{- range . -}}
                {{- if ne $lang .Lang }}
                    <li class="leading-none mx-2">
                        <a href="{{- .Permalink -}}" title="{{ .Language.LanguageName | default (.Lang | humanize) }}"
                            aria-label="{{ .Language.LanguageName | default (.Lang | humanize) }}">
                            {{- .Lang | humanize -}}
                        </a>
                    </li>
                {{- end -}}
            {{- end}}
        </ul>
    {{- end }}
</div>