{{ define "main" }}
<div class="profile" style="margin: 0 2rem;">
    <div class="profile_inner">
        <h1>Oops! This page does not seem to exist...</h1>
        <p class="post-content">
          If you believe this is a mistake, please <a href="https://go.basselch.com/mail" target="_blank">send me a message</a>.<br><br>
          Alternatively, you can click on any of the buttons below to be redirected to a known territory:
        </p>
        <div class="buttons" style="margin-top: 1rem">
            <a class="button" href="/" rel="noopener" title="Home">
                <span class="button-inner">Home</span>
            </a>
            <a class="button" href="/books" rel="noopener" title="Books">
                <span class="button-inner">Books</span>
            </a>
            <a class="button" href="/blog" rel="noopener" title="Blog">
                <span class="button-inner">Blog</span>
            </a>
        </div>
       
    </div>
</div>
{{ end }}