{{ define "main" }}
    {{- with $.Site.Params.homeInfoParams }}
        <article class="bg-gray-100 dark:bg-gray-900 p-10 md:p-16">
            <div class="max-w-4xl mx-auto">
                <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold">{{- .Title | markdownify }}</h1>
                <section class="mt-2 sm:mt-3 md:mt-4 lg:mt-6 text-lg md:text-xl lg:text-xl text-gray-950 dark:text-gray-200 text-opacity-90">
                    <p>{{- .Content | markdownify }}</p>
                </section>
                <footer class="social-icons flex overflow-y-scroll mt-6 lg:mt-8">
                    {{- range $.Site.Params.socialIcons -}}
                        <a href='{{ trim .url " " }}' rel="noopener noreferrer me" title="{{ .name | humanize }}">
                            {{ partial "helpers/svg_icons.html" . }}
                        </a>
                    {{- end -}}
                </footer>
            </div>
        </article>
    {{- end}}

    <div id="home-info" class="mx-5 sm:mx-8 md:mx-10 lg:mx-16 mt-6 sm:mt-8 lg:mt-10">
        {{ if .Content }}
            <section class="mx-auto max-w-4xl style-link">
                {{ .Content }}
            </section>
        {{ end }}

        {{ $featured := where .Site.RegularPages "Params.featured" true }}
        {{ if $featured }}
            <section class="mx-auto max-w-4xl">
                <h2>{{ i18n "featured-posts"}}</h2>
                {{ range first 5 $featured -}}
                    <div class="rounded-none">
                        <a class="flex p-1 my-1 md:my-0 sm:p-2 md:p-3 text-lg font-semibold focus:outline-none rounded-md dark:focus:bg-gray-700 dark:hover:bg-gray-700 focus:bg-gray-100 hover:bg-gray-100 items-center" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
                            <span class="text-md opacity-60 font-mono">{{ .Date.Format "02/01/2006" }}</span>
                            <h3 class="mx-4 font-medium flex-grow">{{- .Title | markdownify }}</h3>
                        </a>
                    </div>
                {{ end }}
            </section>
        {{ end }}

        {{ $posts := where .Site.RegularPages "Type" "eq" "blog" }}
        {{ $posts = where $posts "Params.featured" "ne" true }}
        {{ if $posts }}
            <section class="mx-auto max-w-4xl">
                <h2 class="flex">
                    <span class="flex-grow">{{ i18n "recent-posts"}}</span>
                    <a href='{{ ref . "blog" }}' class="text-md rounded-lg px-2 bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-800">
                        {{ i18n "view-all" }}
                    </a>
                </h2>
                {{ range first 5 $posts -}}
                    <div class="rounded-none">
                        <a class="flex p-1 my-1 md:my-0 sm:p-2 md:p-3 text-lg font-semibold focus:outline-none rounded-md dark:focus:bg-gray-700 dark:hover:bg-gray-700 focus:bg-gray-100 hover:bg-gray-100 items-center" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
                            <span class="text-md opacity-60 font-mono">{{ .Date.Format "02/01/2006" }}</span>
                            <h3 class="mx-4 font-medium flex-grow">{{- .Title | markdownify }}</h3>
                        </a>
                    </div>
                {{ end }}
            </section>
        {{ end }}
        
        {{ $books := where .Site.RegularPages "Type" "eq" "books" }}
        {{ $books = where $books "Params.featured" "ne" true }}
        {{ if $books }}
            <section class="mx-auto max-w-4xl">
                <h2 class="flex">
                    <span class="flex-grow">{{ i18n "recent-books"}}</span>
                    <a href='{{ ref . "books" }}' class="text-md rounded-lg px-2 bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-800">
                        {{ i18n "view-all" }}
                    </a>
                </h2>
                {{ range first 5 $books -}}
                    <div class="rounded-none">
                        <a class="flex p-1 my-1 md:my-0 sm:p-2 md:p-3 text-lg font-semibold focus:outline-none rounded-md dark:focus:bg-gray-700 dark:hover:bg-gray-700 focus:bg-gray-100 hover:bg-gray-100 items-center" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">
                            <span class="w-20 flex-shrink-0">{{ partial "book_cover" . }}</span>
                            <h3 class="mx-4 font-medium flex-grow">
                                {{- .Title | markdownify }}
                                {{ with .Param "subtitle" }}
                                    <br>
                                    <span class="mt-1 text-base opacity-70">{{ . }}</span>
                                {{ end }}
                            </h3>
                        </a>
                    </div>
                {{ end }}
            </section>
        {{ end }}
    </div>
{{ end }}