{{- define "main" }}
<article class="mx-auto max-w-4xl">
    <header class="pb-4 mb-6 border-gray-700 dark:border-gray-200 border-b">
        {{- partial "breadcrumbs.html" . }}

        <div class="mt-3 flex flex-col sm:flex-row">
            <div class="w-40 mb-2 sm:mb-0 lg:mb-4" style="margin-inline-end: 1.5rem;">
                {{- partial "book_cover.html" . }}
            </div>
            <div class="">
                <h1 class="text-4xl lg:text-5xl font-bold mb-0">
                    {{ .Title }}
                    {{- if .Draft }}<span class="text-sm text-gray-600 dark:text-gray-300 lg:text-lg align-top">&nbsp;&nbsp;[{{ i18n "draft" }}]</span>{{- end }}
                </h1>
                {{- with .Param "subtitle" }}
                    <div class="mt-2 lg:mt-3 text-lg md:text-xl lg:text-2xl text-gray-800 dark:text-gray-200 text-opacity-90">
                        {{ . }}
                    </div>
                {{- end }}
                {{- if not (.Param "hideMeta") }}
                    <div class="mt-2 lg:mt-3 mb-4 text-opacity-90">
                        {{- partial "helpers/book_meta.html" .  -}}
                        {{- partial "translation_list.html" . -}}
                    </div>
                {{- end}}
            </div>
        </div>
    </header>

    {{- if (.Param "ShowToc") }}
        <div class="toc p-2 rounded-lg bg-gray-100 dark:bg-gray-700 mb-6">
            <details {{ if (.Param "TocOpen") }} open{{ end }}>
                <summary accesskey="c" title="(Alt + C)" class="cursor-pointer mx-5 focus:outline-none">
                    <div class="inline font-medium">{{- i18n "toc" | default "Table of Contents" }}</div>
                </summary>
                <div class="mx-5 px-5 py-2">
                    {{- partial "toc.html" . }}
                </div>
            </details>
        </div>
    {{- end }}

    <div class="prose dark:prose-dark prose-blue lg:prose-lg max-w-2xl">
        {{- partial "helpers/anchored_headings.html" .Content -}}
    </div>

    <footer class="mt-12">
        {{- if .Params.tags }}
            <ul>
                {{- range ($.GetTerms "tags") }}
                    <li class="inline-block mb-2" style="margin-inline-end: 3px;">
                        <a class="block px-3 py-2 bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-800 rounded-md" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    </li>
                {{- end }}
            </ul>
        {{- end }}

        {{- if (.Param "ShowPostNavLinks") }}
            {{- if or .PrevInSection .NextInSection }}
                <nav class="pagenav flex my-4 rounded-lg bg-gray-100 dark:bg-gray-700">
                    {{- with .PrevInSection }}
                        <a class="prev w-1/2 hover:bg-gray-200 dark:hover:bg-gray-800 px-4 pt-1 pb-2" href="{{.Permalink}}">
                            <span class="text-gray-700 dark:text-gray-300 leading-8">
                                «&nbsp;<span class="uppercase text-sm">{{ i18n "prev_page" }}</span>
                            </span>
                            <br>
                            <span>{{- .Name -}}</span>
                        </a>
                    {{- end }}
                    {{- with .NextInSection }}
                        <a class="next w-1/2 hover:bg-gray-200 dark:hover:bg-gray-800 px-4 pt-1 pb-2" href="{{.Permalink}}">
                            <span class="text-gray-700 dark:text-gray-300 leading-8">
                                <span class="uppercase text-sm">{{ i18n "next_page" }}</span>&nbsp;»
                            </span>
                            <br>
                            <span>{{- .Name -}}</span>
                        </a>
                    {{- end }}
                </nav>
            {{- end }}
        {{- end }}

        {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true) ) }}
            {{- partial "share_icons.html" . }}
        {{- end }}
    </footer>

    {{- if (.Param "comments") }}
        {{- partial "comments.html" . }}
    {{- end }}
</article>
{{- end  }}
